<div class="container mt-2">
    <h1>Nuevo Profesional</h1>

    <div>
        <button mat-raised-button color="basic" type="button" (click)="changePage(-1)"
            [disabled]="currentPage === 0">Anterior</button>
        <button mat-raised-button color="basic" type="button" (click)="changePage(1)"
            [disabled]="currentPage >= totalPages - 1">Siguiente</button>
    </div>
    <div>
        <div class="container">
            <form [formGroup]="profesionalForm" novalidate>
                <div class="form-group" *ngIf="currentPage === 0">
                    <mat-form-field appearance="outline">
                        <mat-label>DNI</mat-label>
                        <input matInput type="text" id="dni" formControlName="dni" [readonly]="true">
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 0">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" id="nombre" formControlName="nombre">
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 0">
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input matInput type="text" id="apellido" formControlName="apellido">
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 0">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" id="email" formControlName="email">
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 0">
                    <mat-form-field appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput type="text" id="direccion" formControlName="direccion">
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 0">
                    <mat-form-field appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput type="text" id="telefono" formControlName="telefono">
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 0">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha de Ingreso</mat-label>
                        <input matInput type="date" id="fechaIngreso" formControlName="fechaIngreso">
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 1">
                    <mat-form-field appearance="outline">
                        <mat-label>Especialidad</mat-label>
                        <mat-select formControlName="especialidadId">
                            <mat-option *ngFor="let esp of especialidades" [value]="esp.especialidadId">
                                {{ esp.especialidad }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 1">
                    <mat-form-field appearance="outline">
                        <mat-label>Titulo</mat-label>
                        <mat-select formControlName="tituloId">
                            <mat-option *ngFor="let titulo of titulos" [value]="titulo.tituloId">
                                {{ titulo.titulo }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group" *ngIf="currentPage === 1">
                    <h2>Formaciones Complementarias</h2>

                    <div formArrayName="formacionesComplementarias">
                        <div *ngFor="let formacion of formacionesComplementariasForm.controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <mat-label>Formacion complementaria</mat-label>
                                <input matInput type="text" formControlName="item">
                            </mat-form-field>
                            <mat-icon fontIcon="delete" class="delete" matTooltip="Eliminar"
                                (click)="removeFormacion(i)"></mat-icon>
                        </div>
                    </div>
                    <mat-icon fontIcon="add" class="add" matTooltip="Agregar" (click)="addFormacion()"></mat-icon>
                </div>

                <div class="form-group" *ngIf="currentPage === 1">
                    <h2>Publicaciones en Revistas</h2>
                    <div formArrayName="publicacionesRevistas">
                        <div *ngFor="let publicacion of publicacionesRevistasForm.controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <mat-label>Publicación</mat-label>
                                <input matInput type="text" formControlName="item">
                            </mat-form-field>
                            <mat-icon fontIcon="delete" class="delete" matTooltip="Eliminar"
                                (click)="removePublicacion(i)"></mat-icon>
                        </div>
                    </div>
                    <mat-icon fontIcon="add" class="add" matTooltip="Agregar" (click)="addPublicacion()"></mat-icon>
                </div>

                <div class="form-group" *ngIf="currentPage === 1">
                    <h2>Presentaciones en Congresos</h2>
                    <div formArrayName="presentacionesCongresos">
                        <div *ngFor="let presentacion of presentacionesCongresosForm.controls; let i = index"
                            [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <mat-label>Presentación</mat-label>
                                <input matInput type="text" formControlName="item">
                            </mat-form-field>
                            <mat-icon fontIcon="delete" class="delete" matTooltip="Eliminar"
                                (click)="removePresentacion(i)"></mat-icon>
                        </div>
                    </div>
                    <mat-icon fontIcon="add" class="add" matTooltip="Agregar" (click)="addPresentacion()"></mat-icon>
                </div>

                <div class="form-group" *ngIf="currentPage === 1">
                    <h2>Experiencia Laboral</h2>
                    <div formArrayName="experienciaLaboral">
                        <div *ngFor="let experiencia of experienciaLaboralForm.controls; let i = index" [formGroupName]="i">
                            <mat-form-field appearance="outline">
                                <mat-label>Experiencia</mat-label>
                                <input matInput type="text" formControlName="item">
                            </mat-form-field>
                            <mat-icon fontIcon="delete" class="delete" matTooltip="Eliminar"
                                (click)="removeExperiencia(i)"></mat-icon>
                        </div>
                    </div>
                    <mat-icon fontIcon="add" class="add" matTooltip="Agregar" (click)="addExperiencia()"></mat-icon>
                </div>


            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="botones">
            <button mat-raised-button color="basic" routerLink="/navigation/lista-profesionales">Cancelar</button>
            <button mat-raised-button color="primary" (click)="guardar()">Guardar</button>
        </div>
    </div>
</div>