/* Estilo para la tabla de Material */
.mat-elevation-z8 {
    display: flex;
    flex-direction: column;
}

.mat-table {
    width: 100%;
    text-align: center !important;
}

.mat-header-row,
.mat-row {
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;

}

.mat-header-cell,
.mat-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1 0 16.666%;
}

.mat-header-cell {
    display:block;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.mat-form-field {
    width: 100%;
    text-align: center;

}

.containerday {
    flex: 1 0 16.666%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    text-align: center;
    justify-content: center;
}

.button-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
