/* Estilo para la tabla de Material */
.mat-elevation-z8 {
    display: flex;
    flex-direction: column;
}

.mat-table {
    width: 100%;
    align-items: center;

    display: flex;
}

.mat-header-row,
.mat-row {
    display: flex;
    width: 100%;
    align-items: center;

}

.mat-header-cell,
.mat-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.mat-header-cell {
    font-weight: bold;
    text-align: center;

}

.mat-form-field {
    width: 16.666%;
    text-align: center;

}

.containerday {
    width: 16.666%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}

button {
    text-align: center;
    margin: auto;
}