.search {
    cursor: pointer;
    margin-left:5px;
    margin-right:5px;
}

.edit {
    cursor: pointer;
    color: #622fe4;
    margin-left:5px;
    margin-right:5px;
}

.calendar_month {
    cursor: pointer;
    color: #072b1e;
    margin-left:5px;
    margin-right:5px;
}

.delete {
    cursor: pointer;
    color: #e4593e;
    margin-left:5px;
    margin-right:5px;
}


.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.filter-field {
    flex: 1;
}

.active-checkbox {
    display: flex;
    align-items: center;
    margin-left: 16px;
}