<div class="container mt-2">
    <h1>Profesional</h1>


    <div>
        <div class="container">
            <form novalidate #f="ngForm">
                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>DNI</mat-label>
                        <input matInput type="text" class="form-control" id="dni" name="dni"
                            [(ngModel)]="profesional.dni" [readonly]="editDisabled" required>
                    </mat-form-field>
                </div>



                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Nombre</mat-label>
                        <input matInput type="text" class="form-control" id="nombre" name="nombre"
                            [(ngModel)]="profesional.nombre" [readonly]="editDisabled" required>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Apellido</mat-label>
                        <input matInput type="text" class="form-control" id="apellido" name="apellido"
                            [(ngModel)]="profesional.apellido" [readonly]="editDisabled" required>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" class="form-control" id="email" name="email"
                            [(ngModel)]="profesional.email" [readonly]="editDisabled" required>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <span>Activo: </span>
                    <mat-checkbox [checked]="profesional.activo" [disabled]="editDisabled"></mat-checkbox>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Dirección</mat-label>
                        <input matInput type="text" class="form-control" id="direccion" name="direccion"
                            [(ngModel)]="profesional.direccion" [readonly]="editDisabled" required>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Teléfono</mat-label>
                        <input matInput type="text" class="form-control" id="telefono" name="telefono"
                            [(ngModel)]="profesional.telefono" [readonly]="editDisabled" required>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha de Ingreso</mat-label>
                        <input matInput type="date" class="form-control" id="fechaIngreso" name="fechaIngreso"
                            [(ngModel)]="formattedFechaIngreso" [readonly]="editDisabled" required>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Especialidad</mat-label>
                        <mat-select [(ngModel)]="profesional.especialidadId" name="especialidad"
                            [disabled]="editDisabled">
                            <mat-option *ngFor="let esp of especialidades" [value]="esp.especialidadId">
                                {{ esp.especialidad }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="form-group">
                    <mat-form-field appearance="outline">
                        <mat-label>Titulo</mat-label>
                        <mat-select [(ngModel)]="profesional.tituloId" name="titulo" [disabled]="editDisabled">
                            <mat-option *ngFor="let titulo of titulos" [value]="titulo.tituloId">
                                {{ titulo.titulo }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <h2>Formaciones Complementarias</h2>

                    <div *ngFor="let formacion of profesional.formacionesComplementarias">
                        <mat-form-field appearance="outline">
                            <mat-label>Formacion complementaria</mat-label>
                            <input matInput type="text" class="form-control" id="formacion" name="formacion"
                                [value]="formacion" [readonly]="editDisabled" required>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <h2>Publicaciones en Revistas</h2>

                    <div *ngFor="let publicacion of profesional.publicacionesRevistas">
                        <mat-form-field appearance="outline">
                            <mat-label>Publicacion</mat-label>
                            <input matInput type="text" class="form-control" id="publicacion" name="publicacion"
                                [value]="publicacion" [readonly]="editDisabled" required>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <h2>Presentaciones en Congresos</h2>
                    <div *ngFor="let presentacion of profesional.presentacionesCongresos">
                        <mat-form-field appearance="outline">
                            <mat-label>Presentación</mat-label>
                            <input matInput type="text" class="form-control" id="presentacion" name="presentacion"
                                [value]="presentacion" [readonly]="editDisabled" required>
                        </mat-form-field>
                    </div>

                </div>

                <div>
                    <h2>Experiencia Laboral</h2>
                    <div *ngFor="let experiencia of profesional.experienciaLaboral">
                        <mat-form-field appearance="outline">
                            <mat-label>Presentación</mat-label>
                            <input matInput type="text" class="form-control" id="experiencia" name="experiencia"
                                [value]="experiencia" [readonly]="editDisabled" required>
                        </mat-form-field>
                    </div>

                </div>



            </form>
        </div>
    </div>
    <div mat-dialog-actions>
        <div class="botones">
            <button mat-raised-button color="basic" routerLink="/navigation/lista-profesionales">Volver</button>
        </div>
    </div>
</div>