<!-- Navegacion superior -->
<mat-toolbar>
    Gestion de Pacientes - Software
</mat-toolbar>

<!-- Navegacion izquierda responsiva -->
<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav content mat-elevation-z8" mode="side" opened="true">
        <mat-nav-list>

            <!-- Mat list icons: https://fonts.google.com/icons?hl=es-419 -->

            <!--Item Mi Perfil-->

            <mat-list-item class="item">
                <mat-icon mat-list-icon>person</mat-icon>
                <span class="full-width" routerLink="miusuario"> Mi Perfil </span>
            </mat-list-item>
            <!-- <mat-icon class="circle">circle</mat-icon> -->


            <!--Item y subItems de Usuarios-->

            <mat-list-item class="item">
                <mat-icon mat-list-icon>group</mat-icon>
                <span class="full-width" routerLink="lista-usuarios"> Usuarios </span>
            </mat-list-item>


            <!--Item y subItems de Turnos-->

            <mat-list-item class="item">
                <mat-icon mat-list-icon>event</mat-icon>
                <span class="full-width" routerLink="lista-turnos"> Turnos </span>
            </mat-list-item>


            <!--Item y subItems de profesionales-->

            <mat-list-item class="item">
                <mat-icon mat-list-icon>group</mat-icon>
                <span class="full-width" routerLink="lista-profesionales"> Profesionales </span>

            </mat-list-item>

            <!--Item y subItems de obras sociales-->

            <mat-list-item class="item">
                <mat-icon mat-list-icon>folder</mat-icon>
                <span class="full-width" routerLink="lista-os"> Obras sociales </span>

            </mat-list-item>

            <!-- Menu logout -->
            <div class="logout">
                <button class="Salir" mat-raised-button color="primary" type="button" (click)="confirmarSalir()">Cerrar
                    Sesión</button>
            </div>

        </mat-nav-list>

    </mat-sidenav>

    <!-- Contenedor de componentes -->
    <mat-sidenav-content>
        <div class="contenedores">
            <router-outlet></router-outlet>
            <!-- <lib-ng-toast></lib-ng-toast> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>