<!-- Navegacion superior -->
<mat-toolbar>
    Clinica Integral Rosario
</mat-toolbar>

<!-- Navegacion izquierda responsiva -->
<mat-sidenav-container>
    <mat-sidenav #sidenav class="sidenav content mat-elevation-z8" mode="side" opened="true">
        <mat-nav-list>

            <!-- Mat list icons: https://fonts.google.com/icons?hl=es-419 -->

            <!--Item Mi Perfil-->

            <mat-list-item class="item" routerLink="/navigation/miusuario">
                <mat-icon mat-list-icon>person</mat-icon>
                <a class="full-width"> Mi Perfil </a>
            </mat-list-item>
            <!-- <mat-icon class="circle">circle</mat-icon> -->


            <!--Item y subItems de Roles-->

            <mat-list-item class="item" routerLink="/navigation/lista-roles" *ngIf="this.role == '1'">
                <mat-icon mat-list-icon>group</mat-icon>
                <a class="full-width"> Roles </a>
            </mat-list-item>

            <!--Item y subItems de Usuarios-->

            <mat-list-item class="item" routerLink="/navigation/lista-usuarios" *ngIf="this.role == '1'">
                <mat-icon mat-list-icon>group</mat-icon>
                <a class="full-width"> Usuarios </a>
            </mat-list-item>


            <!--Item y subItems de Turnos-->

            <mat-list-item class="item" routerLink="/navigation/lista-turnos">
                <mat-icon mat-list-icon>event</mat-icon>
                <a class="full-width"> Turnos </a>
            </mat-list-item>


            <!--Item y subItems de profesionales-->

            <mat-list-item class="item" routerLink="/navigation/lista-profesionales">
                <mat-icon mat-list-icon>group</mat-icon>
                <a class="full-width"> Profesionales </a>
            </mat-list-item>

            <!--Item y subItems de obras sociales-->

            <mat-list-item class="item" routerLink="/navigation/lista-os">
                <mat-icon mat-list-icon>folder</mat-icon>
                <a class="full-width"> Obras sociales </a>
            </mat-list-item>

            <!-- Menu logout -->
            <div class="logout mt-2">
                <button class="d-block mx-auto" style="width: 150px;" mat-raised-button color="warn" type="button" (click)="confirmarSalir()">Cerrar
                    Sesión</button>
            </div>

        </mat-nav-list>

    </mat-sidenav>

    <!-- Contenedor de componentes -->
    <mat-sidenav-content>
        <div class="contenedores">
            <router-outlet></router-outlet>
            <!-- <lib-ng-toast></lib-ng-toast> -->
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>