/* Estilos de navegacion toolbar */
mat-toolbar {
    background: #002b5c;
    color: white;
    justify-content: center;
}

a {
  text-decoration: none;
  color: unset;
}

/* Estilos de navegacion side nav */
.sidenav {
    width: 80%;
    border-right: none;
    background: white;
    overflow: hidden;
}

/* Contenido de los componentes*/
.content {
    height: 100vh;
    width: 200px;
    font-size: 2rem;
    color: lightgray;
}


/* Contenido del sidenav */
mat-sidenav-container {
    height: calc(100vh - 65px);
    overflow: hidden;
}

/* Divisor */
mat-divider {
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: rgba(255, 255, 255, 0.5);
}

/* Iconos */
mat-icon {
    size:0.1rem;
    margin-right:0.5rem;
}

.circle{
    font-size: 12px;
    line-height: 30px;
    color:#002b5c;
    line-height: center;
}

/* Items de navbar */
.item{
    background-color: transparent;
    color:#000000;
    border: none;
    align-items: center;
    overflow: hidden;
}


/* Items de configuracion (navbar bottom) */
.config{
    padding-top:45vh;
}

.itemsConfig {
    padding-left:30%;
    border: none;
    background-color: transparent;
    color:#000000;
    display:flex;
    align-items: center;
}

.full-width {
    width: 100%;
}
span {
    font-size: 0.8rem ;
}